{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-center">home</h1>

    <a href="{{path('add_session')}}">add</a>


    <a href="{{path('add_program')}}">add Program</a>
    {% for session in sessions %}
    
    <a href=" {{path('detail_session', {'id': session.id})}}">{{ session.name }} </a>

    {% endfor %}
{% endblock %}
