{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

{% if app.user %}
    <section>

    <h1 class="text-center text-2xl font-semibold my-9">List of interns</h1>

        <div class="flex my-9 ml-9" id="add_button">
            <a class="p-2 w-20 rounded-md text-center mb-2.5" href="{{path('add_stagiaire')}}">add</a>
            
        </div>
        

        {% for stagiaire in stagiaires %}
        
        <a class="ml-9" href="{{path('detail_stagiaire', {'id': stagiaire.id})}}">{{ stagiaire.fullName }} </a> <br>
        
        {% endfor %}
        
        {% else %}
        <h2>You do not have access to this page !</h2>
        
    </section>
{% endif %}

{% endblock %}