{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<section class="flex justify-center h-screen items-center">

    {{form_start(formAddCategory, { 'attr': { 'class': 'flex flex-col items-center'}} )}}
    
    {{form_row(formAddCategory.name)}}
    
    {{form_end(formAddCategory)}}
    
</section>
{% endblock %}
