{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
    
    <section class="flex justify-center h-screen items-center">
        
        {{form_start(formAddCategory, { 'attr': { 'class': 'flex flex-col items-center'}} )}}
        
        {{form_row(formAddCategory.name)}}
        {{form_row(formAddCategory.image)}}
        
        {{form_end(formAddCategory)}}
        
    </section>

    {% else %}
        <h2>You do not have access to this page !</h2>

{% endif %}

{% endblock %}
