{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
<h1 class="text-center">Programs</h1>

<a href="{{path('add_category')}}">add</a>

{% for category in categories %}

    <a href="{{path('detail_module', {'id': category.id})}}">{{ category.name }} </a>

    
{% endfor %}

{% endblock %}
