{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}

<section>

    <h1 class="text-center text-2xl font-semibold my-9">Programs</h1>

    {% if app.user %}
        <div class="flex my-9 ml-9" id="add_button">

            <a class="w-20 text-center p-2 rounded-md ml-6" href="{{path('add_category')}}">add</a>
        </div>
    {% endif %}

    <div class="flex flex-wrap justify-start ml-9">
        {% for category in categories %}

            <div id="session" class="flex justify-center items-center flex-col rounded-md h-36 w-72  mr-14 mb-14">

                <a href="{{path('detail_module', {'id': category.id})}}">{{ category.name }} </a>
            </div>    
            
        {% endfor %}
    </div>

</section>

{% endblock %}
