{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
<h1 class="text-center">Programs</h1>

{% for module in modules %}
    
    <a href="{{path('detail_module', {'id': module.id})}}">{{ module.name }} </a>

{% endfor %}

{% endblock %}
